*{
  margin: 0;
  padding: 0;
}
body {
  background: url(repeatImage.jpg);
}

/* Start of Navbar */
.navbar ul {
  font-size: 22px;
  list-style-type: none;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 60px; /* Set a specific height for the navbar */
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 50px;
  text-align: center;
  line-height: 60px; /* Align text vertically within the navbar */
}

.navbar a:hover {
  background-color: rgb(36, 35, 35);
}
/* End of Navbar */

.calender {
  margin:auto;
  max-width: 1500px;
  font-family: serif;
  font-weight: bold;
  color: black;
}
.month {
  text-align: center;
  background: white;
  font-size: 80px;
  letter-spacing: 1px;
  color: black;
  border: 4px solid rgb(0, 0, 0);
  border-bottom: none;
}
table,th, td {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-size: 27px;
  border-collapse: collapse;
  border: 5px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
tr, th, td {
  padding: 15px;

}
th {
  background: #6b6c6d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
td {
  background: gainsboro;
}
td:hover {
  background: gray;
}
.main-container {
    width: 100%;
    height: 100%;
    position: relative;
}
#clock {
  color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    font-size: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    background-color: rgb(70, 166, 230);
    margin-left: 18cm;
    margin-right: 18cm;
}

