* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in element size */
}

body {
  background-image: url(texture.jpg);
}

/* Start of Navbar */

.navbar ul {
  font-size: 22px;
  list-style-type: none;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 60px; /* Set a specific height for the navbar */
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 50px;
  text-align: center;
  line-height: 60px; /* Align text vertically within the navbar */
}

.navbar a:hover {
  background-color: rgb(36, 35, 35);
}

/* End of Navbar */

section:not(#lagning, #ingredients-container) {
  margin-left: 2vw;
  border: 1px solid black;
  border-width: 0 0 2vh 0; /* Adjust border width relative to viewport height */
  padding: 2vw; /* Adjust padding relative to viewport width */
}

strong {
  font-size: 4vw; /* Adjust font size relative to viewport width */
}

h2 {
  color: blue;
  font-size: 4vw; /* Adjust font size relative to viewport width */
}

h4 {
  margin-left: 2vw; /* Adjust margin relative to viewport width */
  font-size: 2vw; /* Adjust font size relative to viewport width */
}

.vertical-align-container {
  width: 100%; /* Expand container to full width */
}

.text-box {
  margin-right: 4vw; /* Adjust spacing between texts relative to viewport width */
  border: 3px solid #333;
  padding: 2vw;
  font-size: 2vw;
  margin-bottom: 2vh; /* Adjust margin relative to viewport height */
}
