* {
    margin: 0;
    padding: 0;
}
body {
  background: url(repeatImage.jpg);
}

/* Start of Navbar */

.navbar ul {
  font-size: 22px;
  list-style-type: none;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 60px; /* Set a specific height for the navbar */
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 50px;
  text-align: center;
  line-height: 60px; /* Align text vertically within the navbar */
}

.navbar a:hover {
  background-color: rgb(36, 35, 35);
}

/* End of Navbar */


table, th {
    width: 50vw;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border: 5px solid rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#title {
    color: rgb(255, 255, 255);
    padding-top: 50px;
    font-size: 37px;
    height: 2cm;
}

tr:not(#title) {
    height: 10vh; /* Adjust the height as needed */
}
